<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="servicioProveedor1SOAP" />
                <binding name="servicioAlmacenLocalSOAP" />
                <binding name="servicioAlmacenCentralSOAP" />
                <binding name="procesoCompraBinding" />
                <binding name="servicioProveedor2SOAP" />
                <binding name="servicioProveedor3SOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9080/p3_GestionProveedor1/services/servicioProveedor1"
                binding="basicHttpBinding" bindingConfiguration="servicioProveedor1SOAP"
                contract="ServiceCompra.servicioProveedor1" name="servicioProveedor1SOAP" />
            <endpoint address="http://localhost:9080/p3_GestionAlmacenLocal/services/servicioAlmacenLocal"
                binding="basicHttpBinding" bindingConfiguration="servicioAlmacenLocalSOAP"
                contract="ServiceCompra.servicioAlmacenLocal" name="servicioAlmacenLocalSOAP" />
            <endpoint address="http://localhost:9080/p3_GestionAlmacenCentral/services/servicioAlmacenCentral"
                binding="basicHttpBinding" bindingConfiguration="servicioAlmacenCentralSOAP"
                contract="ServiceCompra.servicioAlmacenCentral" name="servicioAlmacenCentralSOAP" />
            <endpoint address="http://localhost:8080/ode/processes/procesoCompra"
                binding="basicHttpBinding" bindingConfiguration="procesoCompraBinding"
                contract="ServiceCompra.procesoCompra" name="procesoCompraPort" />
            <endpoint address="http://localhost:9080/p3_GestionProveedor2/services/servicioProveedor2"
                binding="basicHttpBinding" bindingConfiguration="servicioProveedor2SOAP"
                contract="ServiceCompra.servicioProveedor2" name="servicioProveedor2SOAP" />
            <endpoint address="http://localhost:9080/p3_GestionProveedor3/services/servicioProveedor3"
                binding="basicHttpBinding" bindingConfiguration="servicioProveedor3SOAP"
                contract="ServiceCompra.servicioProveedor3" name="servicioProveedor3SOAP" />
        </client>
    </system.serviceModel>
</configuration>